@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: "GothamLight";
  src: url("../app/assets/font/GothamPro-Light.woff2") format("woff2");
}
@font-face {
  font-family: "GothamRegular";
  src: url("../app/assets/font/GothamPro.woff2") format("woff2");
}
@font-face {
  font-family: "GothamMedium";
  src: url("../app/assets/font/GothamPro-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "GothamBold";
  src: url("../app/assets/font/GothamPro-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "GothamRegular", sans-serif;
}
